<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Flaskr - {{ title }}</title>
    {% else %}
    <title>Flaskr</title>
    {% endif %}

</head>
<body>
    <h1>Home Page</h1>

    {% for post in posts %}

    <h2> {{ post.title }} </h2>
    <p>By: {{ post.author }}</p>
    <p>{{ post.content }}</p>
    <p>Date: {{ post.date_posted }}</p>

    {% endfor %}
    
</body>
</html>